@model IEnumerable<parte_1_proyecto_final.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>News</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div class="container row me-2  ms-2">

    @foreach (var item in Model)
    {

        <div class="col-sm-12 col-md-4 col-lg-3 card mb-3 card border-dark mb-3">

            <div class="p-2">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.UrlToImage)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Content)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.PublishedAt)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Author.Author1)</li>
                    <li class="list-group-item">Published for: @Html.DisplayFor(modelItem => item.User.Email) </li>
                </ul>
                <div class="card-body">
                    <a asp-action="Edit" asp-route-id="@item.NewsId">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>


                    </a>

                    <a asp-action="Details" asp-route-id="@item.NewsId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z" />
                        </svg>


                    </a>

                    <a asp-action="Delete" asp-route-id="@item.NewsId">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                    </a>



                </div>
            </div>

        </div>






















    }


</div>